body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}