

/* 1. Główny kontener aplikacji  */
.app {
  height: 100vh;           
  display: flex;           
  flex-direction: column;  
  overflow: hidden;        
}


/* 2. Kontener Mapy */
.map-container {
  flex-grow: 1;       
  position: relative;  
  width: 100%;
  z-index: 1;          
}

/* 3. Panel boczny na mapie  */
.sidebar {
  position: absolute;  
  top: 12px;
  left: 12px;
  z-index: 2;          
  
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  font-family: monospace;
  max-width: 300px;
}